* {
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
   background: #251fac;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%; 
}

.app {
    background-color: #257fab;
    width: 450px;
    min-height: 300px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.5);
}

.quiz {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.question_section {
    flex: 0 0 50%;
}

.question_count {
    margin-bottom: 25px;
}

.question_count span {
    font-size: 28px
}

.question_text {
    margin-bottom: 15px;
}

.answer_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #257fab;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    border:  2px solid #234668;
    margin: 5px 0;
    outline: none;
}

button:hover {
    background-color: #234668;
    transition: all 0.3 ese;
}